services:
  scmscx-db:
    image: "registry.zxcv.io/postgres:${GIT_VERSION}"
    network_mode: host
    build:
      context: postgres
    environment:
      POSTGRES_PASSWORD: anotverysecurepassword

  render:
    image: "registry.zxcv.io/render:${GIT_VERSION}"
    network_mode: host
    command: ["/starcraft", "/input", "/output"]
    volumes:
      - /starcraft:/starcraft
      - /tmp/scmscx.com/pending/render:/input
      - /tmp/scmscx.com/pending/gsfs/img:/output

  scmscx:
    image: "registry.zxcv.io/scmscx.com:${GIT_VERSION}-debug"
    network_mode: host
    ports:
      - "8080:8080"
    volumes:
      - /tmp/scmscx.com/pending:/app/pending
    environment:
      DEV_MODE: "true"
      RUST_LOG: info,tarpc=warn
      DB_HOST: localhost
      DB_PORT: 5432
      DB_USER: bounding.net
      DB_DATABASE: bounding.net
      DB_PASSWORD: anotverysecurepassword
      BACKBLAZE_DISABLED: "true"
      MIXPANEL_DISABLED: "true"
      GSFSFE_ENDPOINT: "http://127.0.0.1:42069"
      SCMSCX_RENDER: "true"
