@use "../global.scss" as *;

.hover {
  @extend .standard-panel-no-padding;
  position: fixed;
  z-index: 1;
  pointer-events: none;
  box-sizing: content-box;
  border-color: $menu-red;
  width: max-content;
  height: max-content;
}
