<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="View StarCraft maps and replays uploaded by users">
  <meta name="keywords" content="User, Profile, Starcraft, Brood, War, Map, Replay">
  <meta property="og:title" content="User Profile">
  <meta property="og:description" content="User Profile">
  <meta property="og:type" content="website">

  <title>View User Profile - scmscx.com</title>

  {{> header.hbs }}
</head>

{{> body.hbs }}

</html>
