<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Upload StarCraft maps, supports directory upload">
  <meta name="keywords" content="upload, Starcraft, Brood, War, Map, Details, Information">
  <meta property="og:title" content="Upload - scmscx.com">
  <meta property="og:description" content="Upload StarCraft maps, supports directory upload">
  <meta property="og:type" content="website">

  <title>Upload - scmscx.com</title>

  {{> header.hbs }}
</head>

{{> body.hbs }}

</html>
