<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="99K1vmIB7wU--8X_Tg5QWMllo_ocD-bFSe09d4ecs98" />

  <meta name="description"
    content="The largest StarCraft: Brood War map database with over 100,000 unique maps of all genres like: Melee, Defense, Bound, RPG, Mass, Special Forces, EUD, and more.">
  <meta name="keywords" content="starcraft, broodwar, mapping, maps, mapmaking, brood, war, EUD">
  <meta property="og:title" content="Welcome to scmscx.com">
  <meta property="og:description"
    content="The largest StarCraft: Brood War map database in the universe with over 100,000 unique maps of all genres like: Melee, Defense, Bound, RPG, Mass, Special Forces, Arena, Minigame, EUD, and more.">
  <meta property="og:type" content="website">

  <title>Welcome to scmscx.com</title>

  {{> header.hbs }}
</head>

{{> body.hbs }}

</html>
