<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="About and more information on scmscx.com">
  <meta name="keywords" content="starcraft, maps, ums, scmscx.com, about, more information">
  <meta property="og:title" content="About scmscx.com">
  <meta property="og:description" content="About scmscx.com">
  <meta property="og:type" content="website">

  <title>About - scmscx.com</title>

  {{> header.hbs }}
</head>

{{> body.hbs }}

</html>
