<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description"
    content="Search for Starcraft: Brood War maps from a database of over 100,000 unique maps by map names, unit names, force names, and scenario names with advanced search">
  <meta name="keywords" content="Search, Starcraft, Brood, War, Map, Details, Information">
  <meta property="og:title" content="{{ page_title }} - scmscx.com">
  <meta property="og:description"
    content="A searchable StarCraft map database with over 100,000 unique maps. Advanced search is supported. Search through unit names, force names as well as scenario names and descriptions">
  <meta property="og:type" content="website">

  <title>{{ page_title }} - scmscx.com</title>

  {{> header.hbs }}
</head>

{{> body.hbs }}

</html>
