name: CI-and-push

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule: [cron: "0 11 * * *"] # at 4am PST, 11am UTC

permissions:
  contents: read

env:
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    timeout-minutes: 30
    name: ${{format('Cargo {0}', matrix.rust)}}
    # if: false
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        include:
          # - rust: nightly
          # - rust: beta
          - rust: stable
          # - rust: 1.74.0
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust}}
          components: clippy, rustfmt

      - name: work around Cargo.lock filetime not being updated..?
        run: touch Cargo.lock

      - run: make ci
      - run: make push

  push-ci-runner:
    timeout-minutes: 30
    name: Push CI runner image
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - run: make push-ci-runner-scmscx.com
