name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule: [cron: "0 11 * * *"] # at 4am PST, 11am UTC

permissions:
  contents: read

env:
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    timeout-minutes: 30
    name: ${{format('Cargo {0}', matrix.rust)}}
    # if: false
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        include:
          # - rust: nightly
          # - rust: beta
          - rust: stable
          # - rust: 1.74.0
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust}}
          components: clippy, rustfmt, rust-src
          targets: wasm32-unknown-unknown

      - name: install wasm-bindgen
        run: cargo install wasm-bindgen-cli

      - name: work around Cargo.lock filetime not being updated..?
        run: touch Cargo.lock

      - run: make ci
